button {
    margin: 10px;
}
img {
    width: 200px;
    height: 200px;
}
.card {
    width: 30%;
    margin: auto;
    height: 400px;
}
.card {
    height: 550px;
}
.card-img-top {
    height: 300px;
}
