footer { 
    bottom: 0;
    height: 100px;
    width: 100%;
 }
h5 {
    margin-top: 8px;
}
h3 {
    font-family: "Audiowide";
    margin-top: 10px;
}
.text-white.text-center {
    margin: 0px;
}
/* Grow */
h3 {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

h3:hover,
h3:focus,
h3:active {
    transform: scale(1.1);
}


/* Sweep To Right */
.btn.btn-outline-primary {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .btn.btn-outline-primary:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(52, 125, 246);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
    color: white;
  }
  .btn.btn-outline-primary:hover:before, .btn.btn-outline-primary:focus:before, .btn.btn-outline-primary:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  