body {
    background-color: rgb(0, 0, 0);
    color: white;
}
.card-text{
    font-size:19px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
}
.card-title {
    color: black;
}
.card-text {
    color: black;
}
.card {
    margin: 15px;
    
}
.gameCard{
    padding: 0px;
}

.card-body{
    height: 150px;
}
/* Grow */
.gameCard {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.gameCard:hover,
.gameCard:focus,
.gameCard:active {
    transform: scale(1.1);
}