form {
    width: 30%;
}
h2 {
    font-family: "Audiowide";
}
/* Grow */
h2 {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

h2:hover,
h2:focus,
h2:active {
    transform: scale(1.1);
}

/* Float */
.btn.btn-primary {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }